@import 'sassy/variables';
@import 'sassy/mixins';
@import 'sassy/include-media';
@import 'shared/document';
@import 'shared/elements';
@import 'shared/fonts';
@import 'shared/page';
@import 'shared/nuxt';
@import 'components/artists';
@import 'components/albums';
@import 'components/album';
.container {
	margin: 0 auto;
	padding: 10vh 0;
	width: 90%;
	max-width: 1200px;
}
.content {
	position: relative;
	z-index: 3;
}