@import 'sassy/variables';
@import 'sassy/mixins';
@import 'sassy/include-media';
@import 'shared/document';
@import 'shared/elements';
@import 'shared/fonts';
@import 'shared/page';
@import 'components/artists';
@import 'components/albums';
@import 'components/album';
.container {
	margin: 0 auto;
	margin-top: 10vh;
	width: 90%;
	max-width: 1200px;
}
