.albums {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(6, 1fr);
	grid-column-gap: 15px;
	grid-row-gap: 15px;
	margin-bottom: var(--spacing);
	@include media('>=tablet') {
		grid-template-columns: repeat(14, 1fr);
		grid-template-rows: repeat(6, 1fr);
	}
}
