$this: '.album';
#{$this} {
	background-size: cover;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
	overflow: hidden;
	position: relative;
	padding-top: 100%;
	&,
	&::before,
	&__image {
		transition: var(--transition);
		transition-duration: var(--transition-duration-slow);
	}
	&::before,
	&::after {
		display: block;
		position: absolute;
		z-index: 1;
	}
	&::before {
		content: '';
		right: 0;
		bottom: 0;
		top: 0;
		left: 0;
		background: radial-gradient(circle at center, transparent, rgba(#000, 0.5));
	}
	&::after {
        top: 0;
        left: 0;
		padding: 0 30px 30px 30px;
		color: #fff;
		font-family: 'Permanent Marker';
		font-size: 3rem;
        text-shadow: 3px 3px 6px #000;
        background: linear-gradient(to bottom right, rgba(#000, 0.75), transparent 50%);
	}
	&:nth-child(n + 2)::after {
		padding-left: 10px;
	}
	&:hover {
		box-shadow: 0 0 0 rgba(0, 0, 0, 0.5);
		&::before {
			transform: scale(2);
		}
	}
	&:nth-child(n + 2):nth-child(-n + 4)::after {
		font-size: 2rem;
	}
	&:nth-child(n + 4):nth-child(-n + 6)::after {
		font-size: 1.5rem;
	}
	&:nth-child(n + 7)::after {
		font-size: 1.25rem;
	}
	&:nth-child(1) {
		grid-area: 1 / 1 / 7 / 7;
		&::after {
			content: '1';
		}
	}
	&:nth-child(2) {
		grid-area: 1 / 7 / 5 / 11;
		&::after {
			content: '2';
		}
	}
	&:nth-child(3) {
		grid-area: 1 / 11 / 5 / 15;
		&::after {
			content: '3';
		}
	}
	&:nth-child(4) {
		grid-area: 5 / 7 / 7 / 9;
		&::after {
			content: '4';
		}
	}
	&:nth-child(5) {
		grid-area: 5 / 9 / 7 / 11;
		&::after {
			content: '5';
		}
	}
	&:nth-child(6) {
		grid-area: 5 / 11 / 7 / 13;
		&::after {
			content: '6';
		}
	}
	&:nth-child(7) {
		grid-area: 5 / 13 / 6 / 14;
		&::after {
			content: '7';
		}
	}
	&:nth-child(8) {
		grid-area: 5 / 14 / 6 / 15;
		&::after {
			content: '8';
		}
	}
	&:nth-child(9) {
		grid-area: 6 / 13 / 7 / 14;
		&::after {
			content: '9';
		}
	}
	&:nth-child(10) {
		grid-area: 6 / 14 / 7 / 15;
		&::after {
			content: '10';
		}
	}
	&__details {
		position: absolute;
		bottom: 0;
		left: 0;
	}
	&__blurhash {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
	}
	&__image {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}
