.albums {
	display: grid;
	grid-template-columns: repeat(14, 1fr);
	grid-template-rows: repeat(6, 1fr);
	grid-column-gap: 10px;
	grid-row-gap: 10px;
}
.album {
	background-size: cover;
	border-radius: 4px;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
	overflow: hidden;
	position: relative;
	padding-top: 100%;
	&:nth-child(1) {
		grid-area: 1 / 1 / 7 / 7;
	}
	&:nth-child(2) {
		grid-area: 1 / 7 / 5 / 11;
	}
	&:nth-child(3) {
		grid-area: 1 / 11 / 5 / 15;
	}
	&:nth-child(4) {
		grid-area: 5 / 7 / 7 / 9;
	}
	&:nth-child(5) {
		grid-area: 5 / 9 / 7 / 11;
	}
	&:nth-child(6) {
		grid-area: 5 / 11 / 7 / 13;
	}
	&:nth-child(7) {
		grid-area: 5 / 13 / 6 / 14;
	}
	&:nth-child(8) {
		grid-area: 5 / 14 / 6 / 15;
	}
	&:nth-child(9) {
		grid-area: 6 / 13 / 7 / 14;
	}
	&:nth-child(10) {
		grid-area: 6 / 14 / 7 / 15;
	}
	&__details {
		position: absolute;
		bottom: 0;
		left: 0;
	}
	&__blurhash {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
	}
	&__image {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		opacity: 0;
		transition: var(--transition);
		transition-duration: 1s;
		&--loaded {
			opacity: 1;
		}
	}
}
