.artists {
	&__filter {
		position: relative;
		margin-bottom: 20px;
	}
	&__label {
		width: var(--col-1);
		display: block;
		padding-right: 10px;
		margin-right: 15px;
		font-size: 1.5rem;
		color: rgba(#fff, 0.5);
		transition: var(--transition);
		@include media('>=tablet') {
			display: inline-block;
			text-align: right;
		}
	}
	&__input {
		width: calc(var(--col-2));
		background: transparent;
		border-width: 2px;
		border-color: transparent;
		border-bottom-color: rgba(#fff, 0.5);
		color: #fff;
		font-size: 1.5rem;
		outline: none;
		transition: var(--transition);
		transition-duration: var(--transition-duration-slow);
		padding: 5px;
		text-transform: uppercase;
		@include media('>=tablet') {
			padding: 5px 10px;
		}
		&:focus {
			border-radius: 4px 4px 0 0;
			border-color: rgba(#fff, 0.5);
		}
	}
	&__dropdown {
		position: absolute;
		top: calc(100% + 1px);
		border-radius: 0 0 2px 2px;
		left: 0;
		width: calc(var(--col-2));
		border: 2px sold transparent;
		z-index: 3;
		@include media('>=tablet') {
			left: calc(var(--col-1) + 20px);
		}
		a {
			background: rgba(#fff, 0.75);
			color: $umber;
			display: block;
			width: 100%;
			font-size: 1.5rem;
			font-weight: 600;
			padding: 5px 7px;
			transition: var(--transition);
			transition-duration: var(--transition-duration-slow);
			cursor: pointer;
			text-transform: uppercase;
			@include media('>=tablet') {
				padding: 5px 12px;
			}
			&:hover {
				background: #fff;
			}
		}
	}
}
