:root {
	--transition: all 0.35s cubic-bezier(0.16, 1, 0.3, 1);
	--transition-duration-slow: 1s;
	--transition-property: all;
	--transition-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
	--col-1: 100%;
	--col-2: 100%;
	--spacing: 15px;
	@include media('>=tablet') {
		--spacing: 20px;
		--col-1: calc(100% / 15 * 3.5);
		--col-2: calc(100% / 15 * 7.5);
	}
}
@media screen and (prefers-reduced-motion: reduce), (update: slow) {
	:root {
		--transition: none;
	}
}
*,
*:before,
*:after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
