body {
	background: linear-gradient(to bottom right, #3a6186, #89253e);
	color: #fff;
	min-height: 100vh;
}

h1 {
	font-family: 'Nunito';
	font-size: 36px;
	line-height: 45px;
	transform: translateY(-5px);
	padding-top: 1px;
	margin-bottom: 20px;
	transition: var(--transition);
	position: relative;
}
h2 {
	font-family: 'Nunito';
	font-size: 24px;
	line-height: 30px;
	transform: translateY(-1px);
	padding-top: 1px;
	color: lighten(#95d2e4, 10%);
	small {
		color: mix(#fff, lighten($shark, 10%));
	}
}
h3 {
	font-size: 20px;
	line-height: 25px;
	margin-bottom: 20px;
	transform: translateY(-3px);
	font-weight: normal;
}
h1,
h2,
h3,
p,
ul,
blockquote {
	margin-bottom: 20px;
}
ul {
	padding-left: 25px;
}
p,
li,
blockquote {
	font-size: 1.125rem;
	line-height: 25px;
	transform: translateY(-3px);
	padding-top: 1px;
}

html,
input,
button,
textarea {
	font-family: 'Alegreya', serif;
	font-size: 100%;
}
input,
button,
textarea {
	font-family: 'Alegreya', serif;
	font-size: 100%;
	box-shadow: inset 1px 1px 2px rgba(255, 255, 255, 0.75), inset -1px -1px 2px rgba(255, 255, 255, 0.75);
	background: linear-gradient(to top, lighten($shark, 66%), #fff 66%);
	background-size: 100% 100%;
	transition: var(--transition);
	color: $shark;
	display: block;
	width: 75%;
	border: 0;
	border-radius: 4px;
}
input,
textarea {
	margin-top: 5px;
	padding: 10px;
	font-size: 1rem;
}
label {
	display: block;
	margin-bottom: 20px;
}
strong {
	font-weight: normal;
	color: #95d2e4;
}
blockquote {
	p {
		margin-bottom: 10px;
	}
}
cite {
	font-style: normal;
	color: #95d2e4;
	display: block;
	margin-bottom: 5px;
}
li {
	margin-bottom: 5px;
}
img {
	max-width: 100%;
}
hr {
	clear: both;
	height: 17px;
	border: 0;
	margin-bottom: 25px;
	position: relative;
	background-repeat: no-repeat;
	background-position: center;
	background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 217 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E %3Crect x='50' y='13.4351' width='19' height='5' rx='2.5' transform='rotate(-45 50 13.4351)' fill='%23FF99CC' fill-opacity='0.33'/%3E %3Crect x='63.4351' y='16.9706' width='19' height='5' rx='2.5' transform='rotate(-135 63.4351 16.9706)' fill='%23FF99CC' fill-opacity='0.33'/%3E %3Crect x='100' y='13.4351' width='19' height='5' rx='2.5' transform='rotate(-45 100 13.4351)' fill='%23FF99CC' fill-opacity='0.5'/%3E %3Crect x='113.435' y='16.9706' width='19' height='5' rx='2.5' transform='rotate(-135 113.435 16.9706)' fill='%23FF99CC' fill-opacity='0.5'/%3E %3Crect y='13.4351' width='19' height='5' rx='2.5' transform='rotate(-45 0 13.4351)' fill='%23FF99CC' fill-opacity='0.16'/%3E %3Crect x='13.4351' y='16.9706' width='19' height='5' rx='2.5' transform='rotate(-135 13.4351 16.9706)' fill='%23FF99CC' fill-opacity='0.16'/%3E %3Crect x='150' y='13.4351' width='19' height='5' rx='2.5' transform='rotate(-45 150 13.4351)' fill='%23FF99CC' fill-opacity='0.33'/%3E %3Crect x='163.435' y='16.9706' width='19' height='5' rx='2.5' transform='rotate(-135 163.435 16.9706)' fill='%23FF99CC' fill-opacity='0.33'/%3E %3Crect x='200' y='13.4351' width='19' height='5' rx='2.5' transform='rotate(-45 200 13.4351)' fill='%23FF99CC' fill-opacity='0.16'/%3E %3Crect x='213.435' y='16.9706' width='19' height='5' rx='2.5' transform='rotate(-135 213.435 16.9706)' fill='%23FF99CC' fill-opacity='0.16'/%3E %3C/svg%3E ");
}
