body {
	background: linear-gradient(to bottom right, #3a6186, #89253e);
	color: #fff;
	min-height: 100vh;
}

h1 {
	font-family: 'Nunito';
	font-size: 36px;
	line-height: 45px;
	margin-bottom: 20px;
	font-weight: 600;
	small {
		font-weight: 200;
		font-size: 100%;
	}
}
h2 {
	font-family: 'Nunito';
	font-size: 24px;
	line-height: 30px;
	padding-top: 1px;
	color: lighten(#95d2e4, 10%);
	small {
		color: mix(#fff, lighten($shark, 10%));
	}
}
h1,
h2,
p {
	margin-bottom: 20px;
}
p {
	font-family: 'Nunito';
	font-size: 1.125rem;
	line-height: 25px;
}