body {
	background: linear-gradient(to bottom right, $chambray, $umber);
	font-family: 'Nunito';
	color: #fff;
	min-height: 100vh;
}

h1 {
	font-size: 36px;
	line-height: 45px;
	font-weight: 600;
	text-transform: uppercase;
}
h2 {
	font-size: 24px;
	line-height: 30px;
}
h3 {
	font-size: 1.25rem;
	line-height: 30px;
}
h1,
h2,
h3 {
	margin-bottom: 20px;
}
h3 {
	font-weight: 200;
}
h1,
h2 {
	small {
		width: var(--col-1);
		padding-right: 10px;
		margin-right: 10px;
		display: inline-block;
		text-align: right;
	}
}
small {
	font-weight: 200;
	font-size: 100%;
}
h1,
h2,
h3,
p {
	margin-bottom: 20px;
}
p {
	font-size: 1.125rem;
	line-height: 25px;
}
