html {
	font-size: 14px;
	scroll-behavior: smooth;
	@include media('>=desktop') {
		font-size: 16px;
	}
}

body {
	background: linear-gradient(to bottom right, $chambray, $umber);
	font-family: 'Nunito';
	color: #fff;
	min-height: 100vh;
}

h1 {
	font-size: 2.25rem;
	line-height: 45px;
	font-weight: 600;
	text-transform: uppercase;
	@include media('<tablet') {
		padding-left: 5px;
		small {
			margin-left: -5px;
		}
	}
}
h2 {
	font-size: 1.5rem;
	line-height: 30px;
}
h3 {
	font-size: 1.25rem;
	line-height: 30px;
}
h3 {
	font-weight: 200;
}
h1,
h2 {
	text-transform: uppercase;
	small {
		text-transform: none;
		display: block;
		@include media('>=tablet') {
			width: var(--col-1);
			padding-right: 10px;
			margin-right: 10px;
			display: inline-block;
			text-align: right;
		}
	}
}
small {
	font-weight: 200;
	font-size: 100%;
}
h1,
h2,
h3,
p {
	transition: var(--transition);
}
h1,
h2,
p {
	margin-bottom: 20px;
}
p {
	font-size: 1.125rem;
	line-height: 25px;
}
