
.page-enter-active {
	animation: pageAnimation 0.35s;
}
.page-leave-active {
	animation: pageAnimation backwards 0.35s;
}
@keyframes pageAnimation {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 0.75;
		filter: blur(10px);
	}
	100% {
		opacity: 1;
	}
}